.container {
	display: grid;
	grid-template-columns: 32% 32% 32%;
	align-content: center;
	height: auto;
}

img{
	width: 100%;
	border: 3px solid black;
	border-radius: 10px;
  padding: 7px;
	margin: 5px;
}

@media screen and (min-width:768px)  { 
	img {
		height: auto;
	}

	.list {
		padding-left: 8%;
  }

}